conda.enabled = true

// Incluir los parámetros
includeConfig 'params.config'

process {
    
    // Configuración por defecto (Entorno para Módulos 1, 2 y 3)
    conda = '/root/miniconda3/envs/nanopore-tools'

    // --- Módulo 1: Control de Calidad ---
    withName: QC_READS {
        publishDir = [
            [
                path: { "${params.outdir}/module1_qc/trimmed_filtered" },
                mode: 'copy',
                pattern: "*_V4_filtered.fastq.gz"
            ],
            [
                path: { "${params.outdir}/module1_qc/nanoplot_reports" },
                mode: 'copy',
                pattern: "nanoplot_*"
            ]
        ]
    }

    // --- Módulo 2: Clustering (PCA + UMAP + HDBSCAN) ---
    withName: CLUSTERING {
        publishDir = [
            path: { "${params.outdir}/module2_clustering" },
            mode: 'copy'
        ]
    }

    // --- Módulo 3: Consenso (VSEARCH + Racon Iterativo) ---
    withName: GENERATE_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/module3_consensus" },
            mode: 'copy'
        ]
    }

    // --- Módulo 4: Taxonomía (QIIME 2) ---
    withName: TAXONOMY {
        // Sobrescribimos el entorno general con el de QIIME2
        conda = '/root/miniconda3/envs/qiime2-amplicon-2023.9'
        publishDir = [
            path: { "${params.outdir}/module4_taxonomy" },
            mode: 'copy'
        ]
    }

    // --- Módulo 5: Visualizaciones ---
    withName: VISUALIZATIONS {
        // Asumiendo que las librerías de python (seaborn, pandas) 
        // están en el entorno general o en el de qiime
        conda = '/root/miniconda3/envs/nanopore-tools' 
        publishDir = [
            path: { "${params.outdir}/module5_visualizations" },
            mode: 'copy'
        ]
    }

    // --- Módulo 6: MultiQC ---
    withName: MULTIQC {
        conda = '/root/miniconda3/envs/nanopore-tools'
        publishDir = [
            path: { "${params.outdir}/module1_qc/multiqc_report" },
            mode: 'copy'
        ]
    }
}

// 4. Perfiles de ejecución (Opcional, para control de recursos)
profiles {
    standard {
        process.cpus = 4
        process.memory = '8 GB'
    }
}
