
params {
    // Rutas de entrada y salida
    input_dir      = "/home/tapia/Documents/nanoMIC/Input-Data/raw_data"
    outdir         = "/home/tapia/Documents/nanoMIC_nf/results"
    
    // Parámetros de Primers
    // Región hipervariable V4 (515F - 806R)
    primer_f       = "GTGYCAGCMGCCGCGGTAA"
    primer_r       = "GGACTACNVGGGTWTCTAAT"


    // Parámetros para el módulo 2 - culstering
    min_length = 200
    max_length = 400 
    pca_components = 500

    // Bases de datos (para módulos futuros)
    silva_seqs   = "/home/tapia/Documents/nanoMIC/qiime2_databases/silva-138-99-seqs-515-806.qza"
    silva_tax    = "/home/tapia/Documents/nanoMIC/qiime2_databases/silva-138-99-tax-515-806.qza"
}
